<% include shared/header.ejs %>

<% include shared/menu.ejs %>


<form method="put" action="/annonce" class="col-lg-4 col-lg-offset-4">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value="<%= locals.e_event.eventName %>"  name="eventName">
  </div>
  <div class="form-group">
    <label>Categorie</label>
    <input type="text" class="form-control"value="<%= locals.e_event.category %>" name="category">
  </div>
  <div class="form-group">
    <label>Versus</label>
    <input type="text" class="form-control" value="<%= locals.e_event.versus %>" name="versus">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" rows="3" name="desc"><%= locals.e_event.desc %></textarea>
  </div>
  <input type="hidden" value="<%= locals.e_event.id %>" name="id"/>
  <br><br>
  <button type="submit" class="btn btn-default button">Submit</button>
</form>


<% include shared/footer.ejs %>
